.floor-move-pt1 {
    animation: floor-move-pt1 3s linear infinite;
}

.floor-move-pt2 {
    animation: floor-move-pt2 3s linear infinite;
}

.jump {
    animation: jump 250ms 2 ease-out;
    animation-direction: alternate;
}

@keyframes floor-move-pt1 {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}

@keyframes floor-move-pt2 {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes jump {
    from {
        bottom: 0px;
    }
    to {
        bottom: 200%;
    }
}
