:root {
    --atackSpeed: 4000ms;
    --positionEnemy: 100px;
}

.floor-move-pt1 {
    animation: floor-move-pt1 3s linear infinite;
}

.floor-move-pt2 {
    animation: floor-move-pt2 3s linear infinite;
}

.jump {
    animation: jump 250ms 2 ease-out;
    animation-direction: alternate;
}

.running-away {
    animation: running-away 4s linear;
}

.chasing {
    animation: chasing 4.2s linear;
}

.attack {
    animation: attack var(--atackSpeed) linear infinite;
}

.special-attack-jump {
    animation: attack var(--atackSpeed) linear infinite, jump-attack 1s linear infinite;
}

.special-attack-forward {
    animation: forward-attack calc(var(--atackSpeed)*3) linear infinite;
}

#plant {
    animation: plant-animation 1750ms linear infinite;
}

.start {
    #mario {
        animation-delay: 4s !important;
        animation: mario-entering 2s linear;
    }
    #pipe-horizontal {
        animation-delay: 4s !important;
        animation: pipe-entering 2s 2 ease-out;
        animation-direction: alternate;
    }
}

@keyframes floor-move-pt1 {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}

@keyframes floor-move-pt2 {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes jump {
    from {
        bottom: 0px;
    }
    to {
        bottom: 150%;
    }
}

@keyframes jump-attack {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 150%;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes running-away {
    from {
        left: -50%;
    }
    to {
        left: 110%;
    }
}

@keyframes chasing {
    from {
        left: -70%;
    }
    to {
        left: 110%;
    }
}

@keyframes attack {
    from {
        right: -20%;
    }

    to {
        right: 120%;
    }
}

@keyframes forward-attack {
    0% {
        right: -20%;
    }
    15% {
        right: 1%;
    }
    30% {
        right: 22%;
    }
    45% {
        right: 43%;
    }
    50% {
        right: 22%;
    }
    60% {
        right: 64%;
    }
    70% {
        right: 78%;
    }
    75%{
        right: 64%;
    }
    80% {
        right: 92%;
    }
    100% {
        right: 120%;
    }
}

@keyframes plant-animation {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 10vh;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes pipe-entering {
    from {
        left: -30%;
    }
    to {
        left: 0px;
    }
}

@keyframes mario-entering {
    from {
        left: -20%;
    }
    to {
        left: 10%;
    }
}
