@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", cursive;
    font-size: 1rem;
}

.game-board {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);

    .controls {
        position: absolute;
        width: 100%;
        height: 100%;

        min-height: 400px;
        .logo {
            margin-top: 20vh;
        }

        #start,
        #restart,
        #sound {
            margin-top: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            z-index: 2;
        }

        #sound {
            margin-top: 10px;
        }

        #yoshi-left {
            position: absolute;
            left: 30%;
            top: 35vh;
            width: 75px;
            z-index: 2;
        }
        #yoshi-right {
            position: absolute;
            right: 30%;
            top: 35vh;
            width: 75px;
            z-index: 2;
        }

        button {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            z-index: 2;
        }
    }
}

.blink {
    animation: blink-animation 1s infinite linear;
}

#floor-pt1,
#floor-pt2 {
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: 0%;
}
.logo {
    width: 100%;

    text-align: center;
    z-index: 2;
}
#name-game {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.score {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 1%;
}

.game {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    height: 20%;
    width: 100%;
    .enemy {
        bottom: 0px;
        right: -20%;
    }
    img {
        position: absolute;
        height: 75%;
        bottom: 0;
    }
    #mario-die {
        display: none;
    }
    #yoshi-run {
        height: 50%;
        display: none;
    }
    #mario {
        left: -20%;
    }
    #princess,
    #bowser {
        left: -20%;
    }
    #pipe-horizontal {
        height: 100%;
        left: -30%;
        bottom: -20px;
    }
    #piranha-bean,
    #goomba {
        bottom: 0px;
    }

    #goomba {
        height: 40%;
    }
    #carnivorous-plant {
        position: absolute;
        bottom: 0px;
        height: 75%;
        width: 3%;
        #pipe {
            position: absolute;
            bottom: 0px;
            z-index: 9;
        }

        #plant {
            position: absolute;
            bottom: 0px;
            left: 30%;
        }
    }
}

.hidden {
    display: none;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
